canvas#myGLCanvas{
    width: 100%;
    margin: 0;
    padding-top: 2px;
    display: block;
}

body{
    background: black;
    color: white;
}

ul#controlsList {
    list-style: none;
}

li.ctrl{
    background: dimgray;
    color: white;
    font-size: x-large;
    margin-right: 1%;
    margin-top: 3px;
    padding: 10px;
    border-radius: 5px;
    float:left;
    display: inline;
}

button#fullScreenButton{
    width: 300px;
    height: 100px;
    font-size: x-large;
    margin: auto;
    margin-top: 5px;
    display: block;
    background: black;
    color: white;
}
